body{
    background-color: teal;
    text-align: center;
}

h3{
    text-align: center;
}
header{
        background-color:black;
        color:white;
        text-align:center;
        padding:5px;
}
section{
    padding:20px;
    }
p {

    text-align: center;
}
ol{
 text-align: center;
    padding: 20px;
    margin-left 100px;
}
ol li{
    text-align: center;
    padding: 5px;
    margin-left 100px;
}