<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/create-message" method="post">
        <input type="text" name="msgcontents" placeholder="Write a message"/>
        <button name="submit">Submit</button>
    </form>

    <h3>Messages by {{name}}</h3>   <!-- doubly curly brackets here call the name from the hashmap that stores the Userinput.-->

    <ol>                            <!--The Values are all Stored in a Hashamp and are pulled out by mustache -->
        {{#messages}}               <!--'messages' is the Key for the Value that contains the ArrayList storing the messages -->
        <li>{{msgContent}}</li>     <!--'msgContent' is the Key for the Value that is storing the Message object -->
        {{/messages}}               <!-- This is the equivalent of a for each loop to extract the individual messages
    </ol>


</body>
</html>