body{
    background-color: teal;
    text-align: center;
}

h3{
    text-align: center;
}

p {

    text-align: center;
}
ol{
    background:blue;
    padding: 20px;
}
ol li{
    background: green;
    padding: 5px;
    margin-left 100px;
}